body {
  font-family: $font-regular, sans-serif;
  color: $dark-2;
}

.debug-item {
  background: darken(lime, 40%);
  color: lighten(lime, 37%);
  font-size: 1.125em;
  font-family: monospace;

  border: 1px solid darken(lime, 15%);
  padding: 6px 12px;
}

.main-content {
  @include section-boundary;
}

@for $i from 1 through 5 {
  .spacer-left-#{$i} { margin-left: 4px * $i; }
  .spacer-right-#{$i} { margin-right: 4px * $i; }
  .spacer-top-#{$i} { margin-top: 4px * $i; }
  .spacer-bottom-#{$i} { margin-bottom: 4px * $i; }
}
