body {
  font-family: $font-regular, sans-serif;
  color: $dark-2;
}

.debug-item {
  background: darken(lime, 40%);
  color: lighten(lime, 37%);
  font-size: 1.125em;
  font-family: monospace;

  border: 1px solid darken(lime, 15%);
  padding: 6px 12px;
}

.main-content {
  @include section-boundary;
}
