$font-regular: 'Inconsolata', monospace;
$font-monospace: 'Open Sans', sans-serif;

$green-1:  #6bb276;
$blue-1:   #2e4057;
$blue-2:   #048ba8;
$orange-1: #f18f01;

$dark-1:   #2f2d2e;
$dark-2:   lighten($dark-1, 10%);
$dark-3:   lighten($dark-1, 15%);
$dark-4:   lighten($dark-1, 20%);

$white-1:   white;
$white-2:   darken($white-1, 5%);
$white-3:   darken($white-1, 10%);
$white-4:   darken($white-1, 20%);
