<h2>Add a new song</h2>

<form [formGroup]="songForm" (ngSubmit)="addingSong()" novalidate>
  <label class="form-group">
    <span class="label required"><strong>Name</strong> the song</span>
    <input type="text" formControlName="name" required>
  </label>

  <label class="form-group">
    <span class="label required"><strong>URL</strong> of the song on Youtube</span>
    <span class="label error" [@sliding]
          *ngIf="formErrors.url.length && showUrlErrors">
      {{formErrors.url}}
    </span>

    <input type="url" formControlName="url" required
          (focus)="updateUrlErrorVisibility(false)"
          (blur)="updateUrlErrorVisibility(true)">
  </label>

  <p><em>Note: playback will only work with Youtube links for now. Please check back later for support for other services.</em></p>

  <button type="submit" [disabled]="songForm.status === 'INVALID'" class="button--main-action">add song</button>
</form>
